@use "../../sass" as scss;

.main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 7rem 3rem 0 3rem;

    @include scss.responsive(XLScreen) {
        padding: 0;
        height: 100%;
    }

    @include scss.responsive(largeScreen) {
        width: 100vw;
        display: grid;
        grid-template-columns: 65vw 1fr;
        padding: 0;
        height: 100%;
    }

    @include scss.responsive(smallScreen) {
        grid-template-columns: 1.5fr 0.8fr;
    }

    &__text {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-width: 40%;
        padding-right: 2rem;
        padding-top: 2rem;

        @include scss.responsive(XLScreen) {
            padding-top: 8rem;
            max-width: 50%;
        }

        @include scss.responsive(largeScreen) {
            max-width: 100%;
            padding-left: 4rem;
        }

        @include scss.responsive(smallScreen) {
            padding-left: 2.5rem;
            padding-top: 0;
            margin: auto;
            position: relative;
        }

        h1 {
            font-size: 4rem;

            @include scss.responsive(smallScreen) {
                font-size: 3rem;
                text-wrap: nowrap;
            }
        }

        h2 {
            font-size: 2.5rem;
            margin-bottom: 2rem;

            @include scss.responsive(smallScreen) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 1.3rem;

            @include scss.responsive(smallScreen) {
                font-size: 1rem;
            }
        }
    }

    &__tech {
        width: 100%;
        margin-top: 1rem;

        h3 {
            font-size: 1.7rem;
            text-align: left;

            @include scss.responsive(smallScreen) {
                font-size: 1.2rem;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }

        .technologies {
            text-align: center;

            @include scss.responsive(smallScreen) {
                p {
                    font-size: 1.3rem;
                }
            }

            img {
                height: 3rem;

                @include scss.responsive(smallScreen) {
                    height: 2.5rem;
                }
            }
        }
    }

    &__photo {
        height: clamp(40rem, 50rem, 80vh);
        width: auto;
        border-radius: 50px;
        margin-left: 2rem;
        transform: translateY(10px);

        @include scss.responsive(smallScreen) {
            width: 45vw;
            height: auto;
            margin-right: 0;
        }

        @include scss.responsive(tablets) {
            width: 20rem;
            float: right;
        }
    }
}
