@use "./sass/colors" as col;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: col.$color-white;
    text-decoration: none;
}

.layout {
    height: 100vh;
    background-color: col.$color-primary-blue;
    display: grid;
    grid-template-rows: auto 1fr;
    color: col.$color-white;
}

.navbar {
    background-color: col.$color-black;
    grid-row: 1/2;
    width: 100vw;

    &__container {
        height: fit-content;
        max-width: 1800px;
        margin: 0 auto;
        display: flex;
        padding: 1rem 4rem;

        img {
            height: 3rem;
            margin-right: auto;
        }

        nav {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
                position: relative;
                padding: 0 1rem;
                font-size: 1.3rem;
                letter-spacing: 2px;
            }

            a::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -5px;
                background-color: col.$color-white;
                transition: all 0.3s;
            }

            a:hover::before {
                width: 100%;
            }
        }
    }
}

main {
    grid-row: 2/3;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: calc(100vh - 80px);
    max-width: 1800px;
    min-width: 90%;
}
